body, html {
    margin: 0;
    padding: 0;
}

textarea {
    margin: 0;

    resize: vertical;
}

.mdc-text-field--textarea {
    width: 100%;
}

.app-fab--absolute {
    position: fixed;

    bottom: 1rem;
    right: 1rem;
}

@media(min-width: 1024px) {
    .app-fab--absolute {
        bottom: 1.5rem;
        right: 1.5rem;
    }
}